[submodule "dispatch"]
	path = dispatch
	url = https://github.com/noodlehaus/dispatch.git
[submodule "marked"]
	path = marked
	url = https://github.com/chjj/marked.git
[submodule "php-markdown"]
	path = php-markdown
	url = https://github.com/michelf/php-markdown.git
