[submodule "dispatch"]
	path = dispatch
	url = https://github.com/noodlehaus/dispatch.git
[submodule "marked"]
	path = marked
	url = https://github.com/chjj/marked.git
[submodule "php-marked"]
	path = php-marked
	url = https://github.com/breeswish/php-marked.git
