<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  # Removes trailing slashes (prevents SEO duplicate content issues)
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule ^(.+)/$ $1 [L,R=301]  

  # Removes access to internal folders.
  RewriteCond %{REQUEST_URI} ^/dispatch.* [OR]
  RewriteCond %{REQUEST_URI} ^/content.* [OR]
  RewriteCond %{REQUEST_URI} ^/parsedown.* [OR]
  RewriteCond %{REQUEST_URI} ^/marked.* 
  RewriteRule ^(.*)$ index.php?/$1 [L]

  # Our app bootstrap file is index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
